<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Calendar</title>
</head>

<body>


    <div class="container" id="app">
        <select name="month" v-model="curMonth" @change="getCalendarMonth">
          <option v-for="(month, index) in 12" :value="index">{{monthsArray[index]}}</option>
        </select>
        <select name="year" v-model="curYear" @change="getCalendarYear" >
          <option v-if="year >= nowYear-prevYears" v-for="(year, index) in nowYear+futureYears" :value="year">{{year}}</option>
        </select>
        <div class="row">
          <div class="col-md-12">
            <h3>
              Simple Calendar Control with Vue.js
            </h3>
      
            <transition name="fade">
              <div class="alert alert-success" v-if="filterDate != undefined"> Date selected is: {{formattedDate}}</div>
            </transition>
            <div id="app-table">
              <table class="calendar">
                <thead>
                  <tr>
                    <th colspan="1">
                      <a class="button" v-on:click="previousMonth">«</a>
                    </th>
                    <th colspan="5" class="center-title">
                      {{`${monthsArray[curMonth]} ${curYear}  `}}
                    </th>
                    <th colspan="1">
                      <a class="button"  v-on:click="nextMonth">»</a>
                    </th>
                  </tr>
                  <tr>
                    <th v-for="(i, index) in 7">{{daysArray[index]}}</th>
                  </tr>
                </thead>
                <tbody data-bind="foreach:gridArray">
                  <tr v-for="(item, index) in gridArray">
                    <td v-for="(data, i) in item"  >
                      <span  v-on:click="setDate(data.date)" v-bind:class="{'cal-selected':isActive(data.date)}">
                        {{data ? data.date.getDate() : ''}}
                      </span>
      
                    </td>
      
                  </tr>
      
                </tbody>
              </table>
            </div>
      
      
          </div>
      
        </div>
      </div>
      

</body>

</html>