.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: 50px repeat(5, 100px);
  justify-items: end;
  margin: 1rem;

}

.box {
  align-items: center;
  color: brown;
}

.day {
  display: grid;
  justify-items: end;
}

.title {
  color: lightslategray;
  text-align: start;
}

.header {
  background-color: rgba(255, 251, 240, 0.877);
  height: 150px;

}

select {
  height: 20px;
  margin: 10px;
}

.calendar {
  font-weight: bold;
  padding: 5px;
  font-size: 18px;

}

i {
  color: brown;
  font-size: 20px;
}

i:hover {
  color: blue;
}