.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: 50px repeat(5, 100px);
  justify-items: end;
  margin: 1rem;
}

.box {
  align-items: center;
  color: brown;
}

.day {
  display: grid;
  justify-items: end;
}

.title {
  color: lightslategray;
  text-align: start;
}